*{
    -col-bg: white;
    -col-light: #F4F6F8;
    -col-dark: #323D4A;
    -col-greyed: #9097A0;   
    -col-accent: #269AF3;
    -col-accent-red: red;
    -col-shadow: #555555;
}

@font-face {
    src: url('../resources/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    src: url('../resources/OpenSans-SemiBold.ttf');
}


.root{
    -fx-font-family: 'Open Sans';   
    -fx-background-color: -col-light;
}

.bg{
    -fx-background-color: -col-light;
}

.subtitle{
    -fx-text-fill: -col-accent;
    -fx-fill: -col-greyed;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.title{
    -fx-text-fill: -col-accent;
    -fx-fill: -col-dark;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.inputField{
    -fx-background-color:  white;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: -col-greyed;
    -fx-border-radius: 10px;
    -fx-text-fill: -col-dark;
    -fx-font-size: 18px;
    -fx-prompt-text-fill: -col-greyed;
}

.card{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, -col-shadow, 10, 0, 0, 5);
    -fx-background-radius: 15px;
}

.button-continue{
    -fx-background-color: -col-accent;
    -fx-text-fill: white;
    
    -fx-font-size: 18px;
}

.button-cancel{
    -fx-background-color: transparent;
    -fx-text-fill: -col-accent;
    -fx-font-size: 18px;
}

.logic-button{
   -fx-background-color: -col-accent;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px;

   -fx-text-fill: white;
}
.error{
    -fx-border-color: -col-accent-red;
}


/* Table view */
.table-view{
    -fx-selection-bar: -col-light;
    -fx-background-color: white;
}
.table-cell:filled:selected {
    -fx-text-fill: white;
    -fx-background-color: white;
}
.table-cell:filled {
    -fx-text-fill: -col-dark;
}
.table-cell{
    -fx-background-color: white;
}
.table-view .column-header-background{
    -fx-background-color: -col-accent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: -col-accent;
    -fx-text-fill: white;
}
.table-row-cell:selected .table-cell {
    -fx-background-color: -col-light;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}



.details-text{
    -fx-text-fill: -col-dark;
    -fx-font-size: 20;
    -fx-padding: 0 0 100 0;
}


.support-message{
    -fx-font-size: 50px;
}
.timer-text{
    -fx-font-size: 200px;
}
.round-box{
    background-color: white;
    -fx-border-color: -col-accent;
    -fx-border-radius: 100%;
    -fx-border-width: 10px;
}

.play-button{
    -fx-background-radius: 100%;
    -fx-effect: dropshadow(three-pass-box, -col-shadow, 10, 0, 0, 5);
}

.button-start{
    -fx-font-size: 20px;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.bigger{
     -fx-font-size: 25px;
    -fx-background-color: black;
    -fx-text-fill: white;
}